<div class="bg-blue py-5">
    <div class="container py-5">
        <div class="row align-items-center justify-content-center">
          <div class="col-12">
            <h3 class="h2 text-center">
                Start creating events now
            </h3>
          </div>
          <div class="col-12 text-center">
            <p>
              Get access to the demo and take your virtual events to the next level
            </p>
            <button class="btn btn-light">Get demo access</button>
          </div>
        </div>
      </div>
</div>
