
<div class="container pt-5">
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <h3 class="h1 text-center">
          Features
        </h3>
      </div>
    </div>
    <div class="row align-items-center justify-content-center reverse-mobile">
        <div class="col-sm-12 col-md-7">
          <img src="../../assets/images/home/realtime-call.png" class="img-fluid" alt="realtime call">
        </div>
        <div class="col-sm-12 col-md-5">
          <h4 class="h3">
            Real-time remote video participation
          </h4>
          <p>
            Increased audience participation and immersion during livestreaming events, largescale livestream virtual events, hybrid events or live virtual Q&A
          </p>
          <a href="#">
            EXPLORE
            <i class="fa fa-arrow-right"></i>
          </a>
        </div>
      </div>
      <div class="row align-items-center justify-content-center">
          <div class="col-sm-12 col-md-5">
            <h4 class="h3">
              Live audience reactions
            </h4>
            <p>
              Increase  audience participation during livestraming events with reactions and sentiment analysis. Get social and fun responses to increase the feeling of a shared experience between attendees.
            </p>
            <a href="#">
              EXPLORE
              <i class="fa fa-arrow-right"></i>
            </a>
          </div>
          <div class="col-sm-12 col-md-7">
              <img src="../../assets/images/home/live-audience.png" class="img-fluid" alt="Live audience">
            </div>
        </div>
        <div class="row align-items-center justify-content-center pb-5 reverse-mobile">
            <div class="col-sm-12 col-md-7">
              <img src="../../assets/images/home/virtual-network.png" class="img-fluid" alt="realtime call">
            </div>
            <div class="col-sm-12 col-md-5">
              <h4 class="h3">
                Virtual networking tables
              </h4>
              <p>
                The virtual networking tables provide a fun, no/training required, attendee/controlled interface that allows attendees to freely move between small groups for interactive video discussions.
              </p>
              <a href="#">
                EXPLORE
                <i class="fa fa-arrow-right"></i>
              </a>
            </div>
          </div>
  </div>
