<div class="bg-dark-light">
    <div class="container py-5">
        <div class="row align-items-center justify-content-center">
          <div class="col">
            <h3 class="h2">
                What is Event Labs?
            </h3>
          </div>
          <div class="col">
            <p>
              Event labs is a research and innovation initiative bringing together a multidisciplinary team of technology and industry professionals to pioneer the next generation of virtual event technology
            </p>
          </div>
        </div>
      </div>
</div>
